@use '../core/variables' as vars;

.header {
    height: 100vh;
    background-image: url(../images/cover.jpeg);
    background-size: cover;
    background-position: 85% 15%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.menu {
    background-color: vars.$main-green;
    width: 45px;
    padding: 12px;
    position: fixed;
    left: 0;
    top: 0;

    &__img {
        width: 100%;
    }
}

.hero {
    color: vars.$white;
    text-align: center;
    padding-bottom: 76px;
    padding-inline: 40px;



    &__title {
        font-size: 2rem;
        font-family: vars.$title-font;
        font-weight: bold;
        line-height: 3.5rem;
    }

    &__text {
        font-size: 1.2rem;
        font-family: vars.$main-font;
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    &__link {
        background-color: vars.$white;
        border-radius: 50%;
        padding: 10px;
    }


}