@use '../core/variables' as vars;

.school {
    background-color: vars.$light-green;
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    grid-template-rows: fit-content;

    &__subtitle {
        font-family: vars.$title-font;
        font-weight: bold;
        color: vars.$grey-color;
        font-size: 0.8rem;
        grid-column: 1 / 4;
        text-align: center;
        margin-top: 30px;

    }

    &__title {
        font-family: vars.$title-font;
        font-weight: bold;
        font-size: 1.5rem;
        grid-column: 1 / 4;
        text-align: center;
        margin-top: 8px;
    }

    &__articlesbox {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    &__linkbox {
        grid-row: 4 / 5;
        grid-column: 1 / 4;
        text-align: center;
        padding: 2rem;
        margin-bottom: -25px;

        &__link {
            background-color: vars.$main-green;
            border-radius: 30px;
            color: vars.$white;
            font-family: vars.$main-font;
            font-weight: 500;
            font-size: 1.3rem;
            padding-block: 15px;
            padding-inline: 25px;
        }
    }


    &__arrow {
        grid-column: 2 / 3;
        grid-row: 5;
        background-color: white;
        width: fit-content;
        border-radius: 50%;
        padding-block: 9px;
        padding-inline: 12px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        bottom: -22px;

    }

}


@media (min-width: 768px) {

    .school__articlesbox {
        grid-column: 1 / 4;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 10%;
        padding-block: 1%;
        padding-inline: 15%;
        text-align: center;



    }
}