<footer class="footer">
    <section>
        <ul class="footer__list">
            <li>ZAPATILLAS</li>
            <li>ROPA</li>
            <li>NIÑO/A</li>
            <li>DESTACADOS</li>
            <li>TIPS</li>
        </ul>
        <ul class="footer__list">
            <li>TWITTER</li>
            <li>INSTAGRAM</li>
            <li>YOUTUBE</li>
        </ul>
    </section>
    <section class="footer__copy">
        <p>&copy;2023</p>
        <p>we <i class="fa-solid fa-heart" style="color: #6c933e;"></i> run</p>
    </section>
</footer>