<section class="school" id="school">
    <h3 class="school__subtitle">¡Prepáralos con tus marcas favoritas!</h3>
    <h2 class="school__title">VUELTA AL COLE</h2>
    <div class="school__articlesbox">
        <load src="/partials/articles.html" imgUrl="../images/School1.png" text="Mochilas escolares" />
        <load src="/partials/articles.html" imgUrl="../images/School2.png" text="Estuches" />
        <load src="/partials/articles.html" imgUrl="../images/School3.png" text="Bolsas de deporte" />
    </div>
    <div class="school__linkbox">
        <a class="school__linkbox__link" href="https://adalab.es">Empezar ahora</a>
    </div>

    <div class="school__arrow">
        <a href="#hero"><img src="../images/ico-arrow.svg" alt="Icono flecha para subir al hero"></a>
    </div>

</section>